body {
  font-family: "Lato", sans-serif;
}

.nav {
  height: 8vh;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-weight: 300;
  font-size: 20px;
}

.user-list-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-weight: 400;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
}
input[type="text"] {
  padding: 10px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}
button.search-icon {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  background-color: #19a7ce;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #19a7ce;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f0f0f0;
}

td {
  background-color: #fff;
}

th input[type="checkbox"] {
  margin: 0;
}

.delete,
.pagination-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

.edit,
.delete,
.delete-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}
.delete {
  margin-left: 0;
}
.delete-all {
  background-color: #dc3545;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pagination-button {
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
}
.pagination-button:hover {
  background-color: #007bff;
  color: #fff;
}
.pagination-button.active {
  background-color: #007bff;
  color: #fff;
}
.delete-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a1abb7;
}
